ABHYASA PROJECT.json
{
  "name": "ABHYASA PROJECT",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n    s.roll_number,\n    s.name,\n    s.email,\n    a.id AS assessment_id,\n    a.start_time,\n    a.end_time,\n    EXTRACT(EPOCH FROM (a.end_time - a.start_time)) / 3600 AS duration_hours,\n    MAX(nl.sent_at) AS last_notified_at\nFROM assessment_assignments aa\nJOIN students s\n    ON s.roll_number = aa.roll_number\nJOIN assessments a\n    ON a.id = aa.assessment_id\nLEFT JOIN assessment_attempts at\n    ON at.roll_number = aa.roll_number\n    AND at.assessment_id = aa.assessment_id\nLEFT JOIN notification_log nl\n    ON nl.roll_number = aa.roll_number\n    AND nl.assessment_id = aa.assessment_id\n    AND nl.channel = 'email'\nWHERE\n    at.roll_number IS NULL\n    AND a.is_active = TRUE\n    AND NOW() BETWEEN a.start_time AND a.end_time\nGROUP BY\n    s.roll_number, s.name, s.email,\n    a.id, a.start_time, a.end_time\nHAVING\n    MAX(nl.sent_at) IS NULL\n    OR (\n        EXTRACT(EPOCH FROM (a.end_time - a.start_time)) / 3600 <= 2\n        AND NOW() - MAX(nl.sent_at) >= INTERVAL '10 minutes'\n    )\n    OR (\n        EXTRACT(EPOCH FROM (a.end_time - a.start_time)) / 3600 > 2\n        AND NOW() - MAX(nl.sent_at) >= INTERVAL '1 hour'\n    );\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1056,
        32
      ],
      "id": "5b3c9e15-25e2-4f53-b34a-9de3d30a6d9d",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "2vvN1Znk74fKUjlX",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1008,
        -208
      ],
      "id": "70190f0a-4e83-44c0-ba9f-a0affb88b23e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -608,
        112
      ],
      "id": "3dea1e7d-70b1-491f-871d-e79dd3c6b1b3",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        -576,
        272
      ],
      "id": "618fb7ae-64bc-424d-98b9-713c1f4bf81f"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bc49c63f-d6b1-460d-8d4a-d5d8d6ccc478",
              "name": "to",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "28688a05-30a2-4b6e-9bef-1856f0dfe35c",
              "name": "assessment_link",
              "value": "={{ 'https://student-abhyasa.nrcmec.org/assessment/' + $json.assessment_id }}\n",
              "type": "string"
            },
            {
              "id": "b744cccb-dfc6-46e5-88ba-4d72b3b2a054",
              "name": "message",
              "value": "=CDC Reminder\n\nHi {{ $json.name }},\nYou have not yet attempted your assessment.\n\n📝 Assessment Link:\n{{ 'https://student-abhyasa.nrcmec.org/assessment/' + $json.assessment_id }}\n\n⏰ Deadline:\n{{ $json.end_time }}\n\n– CDC Team\n",
              "type": "string"
            },
            {
              "id": "79b17b7d-50d4-41ec-acbb-2fa054d98436",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "b9dc43d6-71b9-403b-b2f7-6eb42fd5363b",
              "name": "roll_number",
              "value": "={{ $json.roll_number }}",
              "type": "string"
            },
            {
              "id": "fc3a7561-0091-4c80-b6ef-32de289d35b4",
              "name": "assessment_id",
              "value": "={{ $json.assessment_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -512,
        -176
      ],
      "id": "a40f2a8e-ffb1-4037-b295-bdaaa836e503",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fromEmail": "pellurimaheshmahi@gmail.com",
        "toEmail": "={{ $json.email }}",
        "subject": "CDC Assessment Reminder – Action Required",
        "emailFormat": "text",
        "text": "={{ $json.message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        496,
        80
      ],
      "id": "9d9ab794-4f69-4601-98c6-6fe8c01d69fd",
      "name": "Send email",
      "webhookId": "a82471d5-2ded-4d7a-b9dc-386889136c7e",
      "credentials": {
        "smtp": {
          "id": "4VR7GyvZQATnPpOa",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "88ce9e10-8947-4812-a8da-2b6594b6b4ee",
              "leftValue": "={{ $json.assessment_id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        304,
        -144
      ],
      "id": "c4e81deb-d936-4302-8f91-3ef63d784a00",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO notification_log (\n    roll_number,\n    assessment_id,\n    channel\n)\nVALUES (\n    '{{ $json.roll_number }}',\n    {{ $json.assessment_id }},\n    'email'\n)\nON CONFLICT (roll_number, assessment_id, channel)\nDO NOTHING\nRETURNING id;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -192,
        240
      ],
      "id": "4b1206f2-c491-4670-ac9b-f4f581178353",
      "name": "Execute a SQL query1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "2vvN1Znk74fKUjlX",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        96,
        80
      ],
      "id": "696ae490-5ba5-4ee3-beed-9d8d8535b81b",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5b2d828c-794c-4d50-8024-22c9a7d34ccd",
              "leftValue": "={{ $json.roll_number }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -912,
        288
      ],
      "id": "96ea7200-5521-4d6d-ae4d-47bbeae0ee64",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Send email": {
      "main": [
        []
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "5585fc78-c4bc-48e7-83ae-7896660527a4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c458cf587a3ce07ddd2cd5d61b1e7f90128dcf024f980fed816b55b51cd0a74a"
  },
  "id": "TDvRO3MFQti1jOLBVsEED",
  "tags": []
}